* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
}

.top-header {
  background-color: #f72210;
  padding: 1.2rem;
  position: sticky;
  font-size: 17px;
}

.top-header svg,
p {
  fill: #fff;
  color: #fff;
}

.top-right-one {
  background-color: #f72210;
  border: none;
  color: #fff;
}

.top-right-two {
  border: none;
  color: #fff;
}

.middle-nav ul li {
  font-weight: bold;
  border-left: 1px solid #dddcdc;
  padding: 0 10px;
  font-size: 18px;
  margin-left: 5px;
}

.bottom-nav {
  background-color: #e7e7e7;
  border-bottom: rgb(255, 255, 255) 5px solid;
  font-size: 18px/18px "Roboto Condensed", sans-serif;
}

.bottom-nav ul li {
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
  color: #838282;
}

.bottom-nav .gray {
  color: #838282;
}

.underline-red {
    color: #000;

  text-decoration: none;
}
.underline-red:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #f92859;
}

.color-red:hover {
  color: #f92859;
  text-decoration: none;
}

.debate-border {
    border-top: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
  }